<ul role="list" aria-label="Todo list">
  <ng-container *ngIf="withFilter && _todos.length > 0">
    <label for="categories" id="categoriesLabel">Filter by Category:</label>
    <select
      id="categories"
      [formControl]="filterSelect"
      class="category"
      (change)="changeFilter()"
    >
      <option value="all">All</option>
      <option *ngFor="let category of categories$ | async" [value]="category">
        {{ category }}
      </option>
    </select>
  </ng-container>
  <li *ngFor="let todo of _todos">
    <div class="todo-list">
      <span role="listitem" aria-label="Todo item">{{ todo.text }}</span>
      <div class="actions">
        <button
          *ngIf="withEdit"
          class="edit"
          (click)="edit.emit(todo.id)"
          aria-label="Edit this todo"
        >
          Edit
        </button>
        <button
          class="delete"
          (click)="onRemove(todo.id)"
          aria-label="Delete this todo"
        >
          X
        </button>
      </div>
    </div>
  </li>
</ul>
