<div class="container">
  <ng-container *ngIf="mode === 'add'; else editTodo">
    <hd-todos [withCategory]="true" />
    <hd-todos-list
      [todos]="todos$ | async"
      [withEdit]="true"
      [withConfirmDelete]="true"
      [withFilter]="true"
      (edit)="onEdit($event)"
      (filter)="onFilter($event)"
    />
  </ng-container>
  <ng-template #editTodo>
    <hd-todo-edit
      [todoId]="todoId"
      [includeCategory]="true"
      (goToAdd)="onAdd($event)"
    />
  </ng-template>
</div>
