<div class="container">
  <form
    [formGroup]="todoEditForm"
    (ngSubmit)="onSubmit()"
    role="form"
    aria-label="Todo Form"
  >
    <div class="todo-input">
      <!-- Todo -->
      <div>
        <label for="todo" id="todoLabel">Todo:</label>
        <input
          id="todo"
          type="text"
          formControlName="text"
          aria-labelledby="todoLabel"
          aria-required="true"
        />
        <div
          *ngIf="
            !todoEditForm.controls.text.pristine &&
            todoEditForm.controls.text.invalid &&
            (todoEditForm.controls.text.dirty ||
              todoEditForm.controls.text.touched)
          "
          role="alert"
        >
          <small *ngIf="todoEditForm.controls.text.errors?.['minlength']"
            >Todo must be at least 3 characters long.</small
          >
        </div>
      </div>
      <!-- Category -->
      <div class="category-container" *ngIf="includeCategory">
        <select
          [formControl]="selectedCategory"
          class="category"
          (change)="selectCategory()"
        >
          <option
            *ngFor="let category of categories$ | async"
            [value]="category"
          >
            {{ category }}
          </option>
          <option value="">Add new</option>
        </select>
        <input
          formControlName="category"
          placeholder="New category"
          *ngIf="!this.selectedCategory.value"
        />
        <div
          *ngIf="
            !todoEditForm.controls.category?.pristine &&
            todoEditForm.controls.category?.invalid &&
            (todoEditForm.controls.category?.dirty ||
              todoEditForm.controls.category?.touched)
          "
          role="alert"
        >
          <small *ngIf="todoEditForm.controls.category?.errors?.['required']"
            >Todo category is required.</small
          >
        </div>
      </div>
      <button
        class="save"
        type="submit"
        [disabled]="todoEditForm.invalid"
        [attr.aria-disabled]="todoEditForm.invalid ? true : null"
      >
        Save
      </button>
      <button (click)="goToAdd.emit(true)" class="cancel" type="button">
        Cancel
      </button>
    </div>
  </form>
</div>
