/* You can add global styles to this file, and also import other style files */
/* HTML and Body default styles */
html,
body {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  width: 100%;
  min-height: 100%;
  -webkit-font-smoothing: auto;
  -moz-osx-font-smoothing: auto;
}

hd-root {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;

  router-outlet {
    + * {
      position: relative;
      display: flex;
      flex: 1 1 auto;
      width: 100%;
    }
  }
}

.container {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}

.todo-input {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

form {
  padding: 10px;
}

label {
  margin-right: 10px;
}

input,
select {
  height: 35px;
  width: 200px;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 0 10px;

  &.ng-invalid:not(.ng-pristine):not(.ng-untouched) {
    border: 1px solid red;
  }
}

.category-container {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}

small {
  color: red;
  margin-left: 10px;
}

@mixin button-style(
  $bgColor: #3f51b5,
  $fontColor: white,
  $height: 35px,
  $width: 80px
) {
  cursor: pointer;
  background-color: $bgColor;
  color: $fontColor;
  border: none;
  border-radius: 5px;
  padding: 0 10px;
  height: $height;
  width: $width;
}

button {
  &.add {
    @include button-style();

    &:disabled {
      @include button-style($bgColor: #ccc, $fontColor: grey);
      cursor: not-allowed;
    }
  }

  &.delete {
    @include button-style($bgColor: red, $fontColor: white, $width: 40px);

    &:hover {
      background-color: #c52121;
    }
  }

  &.edit {
    @include button-style($bgColor: #3f51b5, $fontColor: white, $width: 100px);

    &:hover {
      background-color: #2c3a8c;
    }
  }

  &.save {
    @include button-style($bgColor: #3f51b5, $fontColor: white, $width: 80px);

    &:disabled {
      @include button-style($bgColor: #ccc, $fontColor: grey);
      cursor: not-allowed;
    }

    &:hover {
      background-color: #2c3a8c;
    }
  }

  &.cancel {
    @include button-style($bgColor: red, $fontColor: white, $width: 80px);

    &:hover {
      background-color: #c52121;
    }
  }
}

ul {
  list-style-type: none;
}

.todo-list {
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding: 10px;
  align-items: center;

  > span {
    min-width: 40rem;
    max-width: 40rem;
    overflow-wrap: break-word;
  }
}
