<div class="container">
  <ng-container *ngIf="mode === 'add'; else editTodo">
    <form
      [formGroup]="todoForm"
      (ngSubmit)="onSubmit()"
      role="form"
      aria-label="Todo Form"
    >
      <div class="todo-input">
        <div>
          <label for="todo" id="todoLabel">Todo:</label>
          <input
            id="todo"
            type="text"
            formControlName="text"
            aria-labelledby="todoLabel"
            aria-required="true"
          />
          <div
            *ngIf="
              !todoForm.controls.text.pristine &&
              todoForm.controls.text.invalid &&
              (todoForm.controls.text.dirty || todoForm.controls.text.touched)
            "
            role="alert"
          >
            <small *ngIf="todoForm.controls.text.errors?.['required']"
              >Todo text is required.</small
            >
            <small *ngIf="todoForm.controls.text.errors?.['minlength']"
              >Todo must be at least 3 characters long.</small
            >
          </div>
        </div>
        <button
          class="add"
          type="submit"
          [disabled]="todoForm.controls.text.invalid"
          [attr.aria-disabled]="todoForm.controls.text.invalid ? true : null"
        >
          Add Todo
        </button>
      </div>
    </form>

    <ul role="list" aria-label="Todo list">
      <li *ngFor="let todo of todos$ | async">
        <div class="todo-list">
          <span role="listitem" aria-label="Todo item">{{ todo.text }}</span>
          <button
            class="edit"
            (click)="onEdit(todo.id)"
            aria-label="Edit this todo"
          >
            Edit
          </button>
          <button
            class="delete"
            (click)="onRemove(todo.id)"
            aria-label="Delete this todo"
          >
            X
          </button>
        </div>
      </li>
    </ul>
  </ng-container>
  <ng-template #editTodo>
    <hd-todo-edit [todoId]="todoId" (goToAdd)="onAdd($event)" />
  </ng-template>
</div>
